
 .mat-toolbar.mat-primary{
     justify-content: flex-end;
     align-items: center;
     height: 50px;
 }

 .logo{
  margin-right: auto;
 }

 .tab-under{
    display: flex;
    justify-content: flex-end;
 }

