<div class="contain">
  <form  [formGroup]="userDetails">
  <mat-card class="container">
    <mat-form-field>
      <input matInput  formControlName ="fullname" placeholder="Full Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName ="username"  >
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName ="email"  placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName ="phone" placeholder="Phone">
    </mat-form-field>
  </mat-card>
  <mat-card  class="contain-card">
    <mat-checkbox (click)="showPasswordCard()" >Change Password</mat-checkbox>
  </mat-card>
  <mat-card class="contain-card" *ngIf="passwordCard" >
    <mat-form-field>
      <input matInput type="password" formControlName ="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName ="password">
    </mat-form-field>
  </mat-card>
  <mat-card class="contain-card">
    <button mat-button>Update</button>
  </mat-card>
  </form>
</div>